@import "../assets/style/variables";

.navbar {
  position: sticky;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 5;
  background-color: $bg-color;

  h1 {
    font-size: 2rem;
    color: $text-color;
    cursor: pointer;
    user-select: none;
  }

  form {
    flex-grow: 1;

    .search {
      width: 100%;
      padding: 10px 20px;
      font-size: 1.5rem;
      color: $text-color;
      border-radius: 1rem;
      background-color: $input-bg-color;

      &::placeholder {
        color: $text-color2;
        user-select: none;
      }
    }
  }

  ul {
    display: flex;
    gap: 20px;

    li {
      color: $text-color;

      a {
        font-size: 3rem;
        display: flex;
        align-items: center;
        color: $text-color;

        &:hover {
          color: $text-color2;
          cursor: pointer;
          transition: color 0.3s;
        }
      }

      .active {
        color: $red !important;
      }
    }
  }
  @media screen and (max-width: 780px) {
    .github {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    flex-wrap: wrap;

    form {
      order: 1;
    }
  }
}
